@using VirtualAttackTableLib.TargetShipParameter;

@using BlazorWASMAttackTable.Client.Elements.SubscriptionDisposal;
@using BlazorWASMAttackTable.Client.Interactions.AttackTableInteractions;


@typeparam TDefinitionKey where TDefinitionKey : notnull

@inherits CollapsableFloatParameterCell<AlteredUnitParameterInteraction<TDefinitionKey>, TDefinitionKey>

<div style="height: 100%; width: 100%; background-color: @BackgroundStyleEntry;">
    <FloatParameterCell Interaction="Interaction" OwningEntry="OwningEntry"/>
</div>

@code {
    private string BackgroundStyleEntry => Highlight ? "rgb(0, 100, 200, 0.5)" : "transparent";
}
